span {
  background-color: rgb(0, 243, 243);
  border: 1px solid black;
  width: 100px;
  padding: 100px;
  margin: 100px;
}

div {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  display: inline-block;
}
