span {
  background-color: rgb(0, 243, 243);
  border: 1px solid black;
  width: 100px;
  padding: 100px;
  margin: 100px;
}

div {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  display: inline-block;
}

section {
  background-color: lightcoral;
  width: 800px;
  height: 800px;
}

div#percent {
  width: 50%;
  height: 50%;
  background-color: rgb(0, 233, 4);
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}

article {
  font-size: 30px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
}
