img {
  width: 30%;
  margin: calc(10%/6);
}

nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10%/6);
  padding: 20px 0;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-size: 25px;
}
