/* * {
  background-color: cyan;
}  */

body {
  background-color: #fefae0;
}

button {
  font-size: 30px;
  background-color: #669bbc;
}

h1, h2 {
  color: darkslateblue;
}

#signup {
  background-color: darkslateblue;
  color: #fdf0d5
}

span {
  color: #669bbc;
}

.tag {
  background-color: red;
  color: white;
  font-size: 16px;
}

.post a {
  color: darkslateblue;
}

footer a {
  color: red;
}

input + button {
  background-color: hotpink;
}

footer > a {
  color: darkslateblue;
}
