h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: underline orange wavy;
  letter-spacing: 5px;
  font-size: 80px;
  font-family: Segoe UI, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
