<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム</title>
</head>
<body>
  <h1>ホーム<%= "hello".toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid soluta illo sint vero fugiat numquam maiores. Veniam nesciunt delectus repellat, eveniet beatae iure ratione esse ducimus porro natus voluptates tempora.
  Quos voluptas accusantium quas saepe necessitatibus, recusandae optio ex obcaecati totam laudantium. Beatae dolores, iure inventore qui doloremque saepe voluptas iste repellendus nam! Officia aut tempora recusandae? Labore, repudiandae minus.</p>
</body>
</html>
