body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 500px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

main {
    width: 80%;
    margin: 0 auto;
    border: solid 2px black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #f77f00;
    border: solid 2px black;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: #90e0ef;
    border: solid 2px black;
    flex: 2 1 800px;
}
