/* チェック模様の演習問題
このindex.htmlには25個の<div>要素が書かれています。また、それぞれにはsquareクラスが割り振られています。ここで、偶数番目のdivには黒色（black）の背景色を定義し、奇数番目のdivには赤色（red）の背景色が定義されるようにapp.cssを完成させてください。index.htmlとNO_TOUCHING.cssは編集しないでください！ */

.square:nth-of-type(2n) {
  background-color: black;
}

.square:nth-of-type(2n+1) {
  background-color: red;
}
