h1 {
  border: 5px solid black;
  background-color: #2a9d8f;
  padding: 0.7em;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px auto;
  font-family: 'Courier New';
  font-weight: lighter;
}

h1:nth-of-type(2n) {
  background-color: #e9c46a;
}
h1:nth-of-type(3n) {
  background-color: #f4a261;
}
h1:nth-of-type(4n) {
  background-color: #e76f51;
}

section:first-of-type h1:nth-of-type(1) {
  transform: rotate(10deg);
}

section:first-of-type h1:nth-of-type(2) {
  transform: scale(2,1);
}

section:first-of-type h1:nth-of-type(3) {
  transform: translate(50px, 20px);
}

section:nth-of-type(2) h1:nth-of-type(1) {
  transform: skew(30deg, 5deg);
}
