h1 {
  background-image: url(https://images.unsplash.com/photo-1759434237058-d3b3daa27360?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDV8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=1000);
  background-size: cover;
  background-position: bottom;
  width: 80%;
  height: 800px;
  margin: 0 auto;
  color: white;
  font-size: 100px;
}
