.circle {
  width: 100px;
  height: 100px;
  background-color: #669bbc;
  transition: background-color 1s 1s, border-radius 0.5s;
}

.circle:hover {
  background-color: #ff6f61;
  border-radius: 50%;
}

section div {
  width: 100px;
  height: 100px;
  background-color: #003049;
  margin: 20px 0;
  transition: margin-left 3s;
}

section:hover div {
  margin-left: 500px;
}

div:nth-of-type(1) {
  transition-timing-function: ease-in;
}
div:nth-of-type(2) {
  transition-timing-function: ease-out;
}
div:nth-of-type(3) {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

